
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: fixed;
  center: 0;
  bottom: 0;
  min-width: 100%;

}
.img{
    background-size: cover;
    background-position: center bottom;
}

.navbar-brand{
    padding: 0;
    font-size: 2rem;
}

.featured{
    text-align: center;
}

.card-body{
    background-color: #999;
}
